@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: 'Instrument Sans Variable', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --font-serif: 'Instrument Serif', serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2853 0.0384 255.0555);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2853 0.0384 255.0555);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2853 0.0384 255.0555);
  --primary: oklch(0.3614 0.0926 257.0351);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9198 0.0098 252.8151);
  --secondary-foreground: oklch(0.2853 0.0384 255.0555);
  --muted: oklch(0.9605 0.0046 258.3248);
  --muted-foreground: oklch(0.5182 0.0359 252.8950);
  --accent: oklch(0.9457 0.0149 251.1590);
  --accent-foreground: oklch(0.3614 0.0926 257.0351);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --border: oklch(0.9040 0.0144 254.6110);
  --input: oklch(0.9198 0.0098 252.8151);
  --ring: oklch(0.3614 0.0926 257.0351);
  --chart-1: oklch(0.3614 0.0926 257.0351);
  --chart-2: oklch(0.6838 0.0899 249.2599);
  --chart-3: oklch(0.8058 0.0578 255.0265);
  --chart-4: oklch(0.5182 0.0359 252.8950);
  --chart-5: oklch(0.8877 0.0209 254.9229);
  --sidebar: oklch(0.3614 0.0926 257.0351);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(1.0000 0 0);
  --sidebar-primary-foreground: oklch(0.3614 0.0926 257.0351);
  --sidebar-accent: oklch(0.5246 0.1089 256.4737);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.5246 0.1089 256.4737);
  --sidebar-ring: oklch(1.0000 0 0);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: 'Instrument Sans Variable', sans-serif;
  --font-serif: 'Instrument Serif', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: #1A3D6D;
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0px 0px 0px hsl(214.6988 61.4815% 26.4706% / 0.00);
  --shadow-xs: 0px 0px 0px 0px hsl(214.6988 61.4815% 26.4706% / 0.00);
  --shadow-sm: 0px 0px 0px 0px hsl(214.6988 61.4815% 26.4706% / 0.00), 0px 1px 2px -1px hsl(214.6988 61.4815% 26.4706% / 0.00);
  --shadow: 0px 0px 0px 0px hsl(214.6988 61.4815% 26.4706% / 0.00), 0px 1px 2px -1px hsl(214.6988 61.4815% 26.4706% / 0.00);
  --shadow-md: 0px 0px 0px 0px hsl(214.6988 61.4815% 26.4706% / 0.00), 0px 2px 4px -1px hsl(214.6988 61.4815% 26.4706% / 0.00);
  --shadow-lg: 0px 0px 0px 0px hsl(214.6988 61.4815% 26.4706% / 0.00), 0px 4px 6px -1px hsl(214.6988 61.4815% 26.4706% / 0.00);
  --shadow-xl: 0px 0px 0px 0px hsl(214.6988 61.4815% 26.4706% / 0.00), 0px 8px 10px -1px hsl(214.6988 61.4815% 26.4706% / 0.00);
  --shadow-2xl: 0px 0px 0px 0px hsl(214.6988 61.4815% 26.4706% / 0.00);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2853 0.0384 255.0555);
  --foreground: oklch(0.9198 0.0098 252.8151);
  --card: oklch(0.2853 0.0384 255.0555);
  --card-foreground: oklch(0.9198 0.0098 252.8151);
  --popover: oklch(0.2853 0.0384 255.0555);
  --popover-foreground: oklch(0.9198 0.0098 252.8151);
  --primary: oklch(0.3614 0.0926 257.0351);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4487 0.0553 251.8579);
  --secondary-foreground: oklch(0.9198 0.0098 252.8151);
  --muted: oklch(0.3832 0.0476 251.3393);
  --muted-foreground: oklch(0.7760 0.0343 252.5170);
  --accent: oklch(0.3979 0.0588 251.9993);
  --accent-foreground: oklch(0.8058 0.0578 255.0265);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.4487 0.0553 251.8579);
  --input: oklch(0.3832 0.0476 251.3393);
  --ring: oklch(0.6838 0.0899 249.2599);
  --chart-1: oklch(0.3614 0.0926 257.0351);
  --chart-2: oklch(0.6838 0.0899 249.2599);
  --chart-3: oklch(0.8058 0.0578 255.0265);
  --chart-4: oklch(0.5182 0.0359 252.8950);
  --chart-5: oklch(0.4487 0.0553 251.8579);
  --sidebar: oklch(0.2233 0.0341 254.5405);
  --sidebar-foreground: oklch(0.9198 0.0098 252.8151);
  --sidebar-primary: oklch(0.8058 0.0578 255.0265);
  --sidebar-primary-foreground: oklch(0.3614 0.0926 257.0351);
  --sidebar-accent: oklch(0.4487 0.0553 251.8579);
  --sidebar-accent-foreground: oklch(0.8058 0.0578 255.0265);
  --sidebar-border: oklch(0.3979 0.0588 251.9993);
  --sidebar-ring: oklch(0.6838 0.0899 249.2599);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.5rem;
  --font-sans: 'Instrument Sans Variable', sans-serif;
  --font-serif: 'Instrument Serif', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    font-style: normal;
    letter-spacing: -0.011em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }
}